<div class='col-lg-4 col-md-5 centering padding-top-align' data-ng-init="checkIfUserIsLoggedInAndHasVehicleInfo()">
	<div class='row'>
		<h1 class='logo-font-hd'>Offer a Ride</h1>
	</div>
	<form class="form-horizontal" role="form" data-ng-submit="createTrip($event)">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-map-marker"></i>
					</span>
					<input class="form-control" id="createtrip_pickupTextBox" name="createtrip_pickupTextBox" type="text" placeholder="Enter pick-up location" />
				</div>
			</li>
			
			<li class="list-group-item">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-map-marker"></i>
					</span>
					<input class="form-control" id="createtrip_dropoffTextBox" name="createtrip_dropoffTextBox" type="text" placeholder="Enter drop-off location"/>
				</div>
			</li>
			
			<li class="list-group-item">
				<div class="input-group">
					Set Recurring Days
					<div class="btn-group" id="weekdays" data-toggle="buttons">
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.sun">Sun</label>	
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.mon">Mon</label>
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.tue">Tue</label>
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.wed">Wed</label>
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.thur">Thur</label>		
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.fri">Fri</label>
						<label class="btn btn-default btn-sm">
						<input type="checkbox" id="createTrip.sat">Sat</label>
					</div>
					<label id="selectedDays"></label>
				</div>
			</li>
			
			<li class="list-group-item">
				Start Date
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-calendar"></i>
					</span>
					<input class="form-control" type="date" data-ng-model="createTrip.startDate"/>
					</div>
			</li>

			<li class="list-group-item">
				Pick-up Time
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-time"></i>
					</span>
					<input class="form-control" type="time" data-ng-model="createTrip.startTime"/>
					</div>
			</li>
			<li class="list-group-item">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-usd"></i>
					</span>
					<input class="form-control" type="number" name="createtrip_price" placeholder="Quote a price" data-ng-model="createTrip.price"/>
				</div>
			</li>
			<br/>
			<div align="center">
				<input class="btn btn-info" data-toggle="modal" value='Set Preferences' data-target="#preferencesInfoModal"/>
				<button class="btn btn-primary" type="submit">Offer a Ride</button>
			</div>
		</ul>
	</form>
</div>


<!-- Preferences Info Modal -->
<div class="modal fade" id="preferencesInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title modal-title-font-lobster" id="myModalLabel">Preferences</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" data-ng-submit="updatePreferencesInfo($event)">
					
					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton">Allow Smoking?</label>
						<div class="col-md-4">
							<div class="onoffswitch">
								<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="preferenceSmoke" data-ng-model="$storage.userLoggedIn.preferences.smoke"/>
								<label class="onoffswitch-label" for="preferenceSmoke" >
									<div class="onoffswitch-inner"></div>
									<div class="onoffswitch-switch"></div>
								</label>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton">Allow Pets?</label>
						<div class="col-md-4">
							<div class="onoffswitchPets">
								<input type="checkbox" name="onoffswitchPets" class="onoffswitchPets-checkbox" id="preferencePets" data-ng-model="$storage.userLoggedIn.preferences.pets"/>
								<label class="onoffswitchPets-label" for="preferencePets">
									<div class="onoffswitchPets-inner"></div>
									<div class="onoffswitchPets-switch"></div>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton">Allow Food?</label>
						<div class="col-md-4">
							<div class="onoffswitchFood">
								<input type="checkbox" name="onoffswitchFood" class="onoffswitchFood-checkbox" id="preferenceFood" data-ng-model="$storage.userLoggedIn.preferences.food"/>
								<label class="onoffswitchFood-label" for="preferenceFood">
									<div class="onoffswitchFood-inner"></div>
									<div class="onoffswitchFood-switch"></div>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton">Allow Music?</label>
						<div class="col-md-4">
							<div class="onoffswitchMusic">
								<input type="checkbox" name="onoffswitchMusic" class="onoffswitchMusic-checkbox" id="preferenceMusic" data-ng-model="$storage.userLoggedIn.preferences.music"/>
								<label class="onoffswitchMusic-label" for="preferenceMusic">
									<div class="onoffswitchMusic-inner"></div>
									<div class="onoffswitchMusic-switch"></div>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="singlebutton">Gender Preference</label>		
						<div class="col-md-4">
							<label for="radio1">
							<input id="radio1" name="gender" type="radio" value="noPreference" data-ng-model="$storage.userLoggedIn.preferences.gender"/>No Preference</label>
							<label for="radio2">
							<input id="radio2" name="gender" type="radio" value="maleOnly" data-ng-model="$storage.userLoggedIn.preferences.gender"/>Male Only</label>
							<label for="radio3">
							<input id="radio3" name="gender" type="radio" value="femaleOnly" data-ng-model="$storage.userLoggedIn.preferences.gender"/>Female Only</label>
						</div>
					</div>
					
					<div align="right">
						<button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
						<input class='btn btn-primary' type="submit" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Preferences Info Modal End -->

<!-- Vehicle Info Modal -->
<div class="modal fade" id="vehicleInfoModal_createTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title modal-title-font-lobster" id="myModalLabel">Update Your Vehicle Info First!</h4>
			</div>
			<div class="modal-body">
				<form role="form" data-ng-submit="updateVehicleInfo_createTrip($event)">
					<ul class="list-group">
						
						<li class="list-group-item">
							<div class="input-group">
								Brand
							  	<select id="vBrand" ng-model="vehicleBrand" class="form-control" ng-options="brand for (brand, model) in vehicleChoices">
							  		<option value="">Select vehicle brand</option>
							  	</select>
							</div>
						</li>
						
						<li class="list-group-item">
							<div class="input-group">
								Model
							  	<select id="vModel" ng-model="vehicleModel" ng-disabled="!vehicleBrand" class="form-control" ng-options="model for (model, seats) in vehicleBrand">
							  		<option value="">Select vehicle model</option>
							  	</select>
							</div>
						</li>
						
						<li class="list-group-item">
							<div class="input-group">
								No. of seats to offer<br />
   						    	<select id="vSeats" ng-model="seatsToOffer" ng-disabled="!vehicleModel" class="form-control" ng-options="seat for seat in vehicleModel">
							  		<option ng-selected="vehicleModel.seats">Select no. of seats to offer</option>
							  	</select>
							</div>
						</li>

						<li class="list-group-item">
							<div class="input-group">
								Carplate No.
							  	<input id="vCarplate" ng-model="$storage.userLoggedIn.vehicleDetails.vehicleNumber" type="text" class="form-control" placeholder='Enter carplate number' />
							</div>
						</li>
					</ul>
					
					<div align="right">
						<button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
						<input class='btn btn-primary' type="submit" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Vehicle Info Modal End -->

<!-- Login Modal -->
<div class="modal fade" id="loginModal_createTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title modal-title-font-lobster" id="myModalLabel">Log In</h4>
			</div>
			<div class="modal-body">
				<form role="form" data-ng-submit="login_createTrip($event)">
					<div class="input-group">
						<span class="input-group-addon">
						<i class='glyphicon glyphicon-envelope'></i>
						</span>
						<input id="email" type="text" class="form-control" placeholder='Enter Email Address' data-ng-model='login.email'>
					</div>
					
					<div class="input-group">
						<span class="input-group-addon">
						<i class='glyphicon glyphicon-lock'></i>
						</span>
						<input id="password" type="password" class="form-control" placeholder='Enter Password' data-ng-model='login.password'>
					</div>
					<br/>
					<div align="left">
						<a href="" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Sign up as new LongPang'er</a>
					</div>
					<div align="right">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Login Modal End-->

<!-- Payment Info Modal -->
<div class="modal fade" id="paymentInfoModal_createTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title modal-title-font-lobster" id="myModalLabel">Payment Info</h4>
			</div>
			<div class="modal-body centering">
				<form role="form" data-ng-submit="updatePaymentInfo_createTrip($event)">
					<h4>Select Your Payment Mode!</h4>
					<input type="radio" name="payment" id="cc" onclick="selectPaymentMode();">Credit Card
					<input type="radio" name="payment" id="pp" onclick="selectPaymentMode();">PayPal<br/><br/>
					
					<div id="creditCard" style="display:none; align:center">
						<h5 align="left">Enter Credit Card Info</h5>
						<ul class="list-group">
							<li class="list-group-item">
									<p align="left">Credit Card No.</p>
									<input id="updatePaymentInfoCreditCardNo" type="text" class="form-control" placeholder='Enter credit card no' value="{{$storage.userLoggedIn.creditCardInfo.creditCardNo}}"/>
							</li>
							
							<li class="list-group-item">
								<p align="left">CVV2</p>
								<input id="updatePaymentInfoCVV2" type="text" class="form-control" placeholder='Enter CVV2' value="{{$storage.userLoggedIn.creditCardInfo.cvv2}}"/>
								
							</li>

							<li class="list-group-item">
								<p align="left">Expiry Date</p>
								<input id="updatePaymentInfoExpiryDate" type="date" class="form-control" placeholder='Enter expiry date' value="{{$storage.userLoggedIn.creditCardInfo.expiryDate}}"/>
							</li>
						</ul>
					</div>
					
					<div id="paypal" style="display:none">
						<h5 align="left">Enter PayPal Email</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<p align="left">PayPal Email</p>
								<input id="updatePaymentInfoPayPalEmail" type="text" class="form-control" placeholder='Enter PayPal email' value="{{$storage.userLoggedIn.creditCardInfo.paypalEmail}}"/>
							</li>
						</ul>
					</div>
					
					<div align="right">
						<button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
						<input class='btn btn-primary' type="submit" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Payment Info Modal End -->

<script>
	$(function(){
		$("#createtrip_pickupTextBox").geocomplete({
		country: 'sg'
		});
		$("#createtrip_dropoffTextBox").geocomplete({
		country: 'sg'
		});
	});
	
	
	$("#weekdays").change(function (e) {
		var checkedDays = $("#weekdays :checkbox").map(function () {
			return +$(this).is(':checked');
		}).get(); 
		
		var SelectedNames= ["Sun","Mon","Tue","Wed","Thur","Fri","Sat"];
		var selectedDaysStr= "";
		var counter = 0;
		for(var i =0; i< checkedDays.length; i++){
			if(checkedDays[i] == 1){
				if(i == 7){
					selectedDaysStr += SelectedNames[i] + ".";
					counter++;
				}else{
					selectedDaysStr += SelectedNames[i] + ",";
					counter++;
				}	
			}
		}
		
		if(counter == 7){
				selectedDaysStr = "All Days"
		}
		if(counter == 0){
			document.getElementById('selectedDays').innerHTML ="You have not selected any days";
		}else{
			document.getElementById('selectedDays').innerHTML ="You have selected " + selectedDaysStr;
		}
	});
	
	$('input:radio').click(function () {
		$('label:has(input:radio:checked)').addClass('active');
		$('label:has(input:radio:checked)').removeClass('inactive');
		$('label:has(input:radio:not(:checked))').removeClass('active');
		$('label:has(input:radio:not(:checked))').addClass('inactive');
	});
	
	function selectPaymentMode() {
		if(document.getElementById('cc').checked) {
			document.getElementById('creditCard').style.display = 'block';
			document.getElementById('paypal').style.display = 'none';
		} else if(document.getElementById('pp').checked) {
			document.getElementById('creditCard').style.display = 'none';
			document.getElementById('paypal').style.display = 'block';
		}
	};
	
	
</script>