<div class='col-lg-4 col-md-5 centering padding-top-align'>
	<div class='row'>
		<h1 class='logo-font-hd'>Help</h1>
	</div>
	<br/>
	<div class='row'>
		<p>Carpooler: Search, Join, Pay using QR Code</p>
		<iframe src="//www.youtube.com/embed/-PkDBCKizmQ" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		<p>Carpooler: Search and Join with Preferences, Pay using OTP</p>
		<iframe src="//www.youtube.com/embed/S9jquYA3CvA" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		<p>Driver: Create a trip, Terminate a trip</p>
		<iframe src="//www.youtube.com/embed/h_XzWZoaT_E" frameborder="0" allowfullscreen></iframe>
	</div>
</div>