<div class='col-lg-4 col-md-5 centering padding-top-align'>
	<div class='row'>
		<h1 class='logo-font-hd'>Past Transactions</h1>
	</div>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href=".collapseOne" class="modal-title-font-lobster" style="font-size: 1.2em">
						Trip: 50 Stamford Road  <=>  Jurong West Street 74 

					</a>
				</h6>
			</div>
			<div id="collapseOne" class="collapseOne panel-collapse collapse">
				<div class="panel-body">
					<table width="100%">
						<tr>
							<td>Date</td>
							<td>Transaction Time</td>
							<td>Amount</td>
						</tr>
						<tr>
							<td>18/03/2014</td>
							<td>0802</td>
							<td>$6</td>
						</tr>
						<tr>
							<td>19/03/2014</td>
							<td>0817</td>
							<td>$6</td>
						</tr>
						<tr>
							<td>20/03/2014</td>
							<td>0821</td>
							<td>$6</td>
						</tr>
						<tr>
							<td>21/03/2014</td>
							<td>0807</td>
							<td>$6</td>
						</tr>
						
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href=".collapseOne" class="modal-title-font-lobster" style="font-size: 1.2em">
						Trip: 50 Stamford Road  <=>  Jurong West Street 74 

					</a>
				</h6>
			</div>
			<div id="collapseOne" class="collapseOne panel-collapse collapse">
				<div class="panel-body">
					<table width="100%">
						<tr>
							<td>Date</td>
							<td>Transaction Time</td>
							<td>Amount</td>
						</tr>
						<tr>
							<td>17/02/2014</td>
							<td>0832</td>
							<td>$10</td>
						</tr>
						<tr>
							<td>18/02/2014</td>
							<td>0827</td>
							<td>$10</td>
						</tr>
						<tr>
							<td>20/02/2014</td>
							<td>0847</td>
							<td>$10</td>
						</tr>
						<tr>
							<td>21/02/2014</td>
							<td>0817</td>
							<td>$10</td>
						</tr>
						
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href=".collapseOne" class="modal-title-font-lobster" style="font-size: 1.2em">
						Trip: 50 Stamford Road  <=>  Yishun Ring Road

					</a>
				</h6>
			</div>
			<div id="collapseOne" class="collapseOne panel-collapse collapse">
				<div class="panel-body">
					<table width="100%">
						<tr>
							<td>Date</td>
							<td>Transaction Time</td>
							<td>Amount</td>
						</tr>
						<tr>
							<td>11/11/2013</td>
							<td>0749</td>
							<td>$6</td>
						</tr>
						<tr>
							<td>12/11/2013</td>
							<td>0802</td>
							<td>$6</td>
						</tr>
						<tr>
							<td>13/11/2013</td>
							<td>0759</td>
							<td>$6</td>
						</tr>
						<tr>
							<td>14/11/2013</td>
							<td>0747</td>
							<td>$6</td>
						</tr>
						 <tr>
							<td>15/11/2013</td>
							<td>0827</td>
							<td>$6</td>
						</tr>
						
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vehicle Info Modal End -->